{%  extends 'base.twig' %}

{%  block htmlBodyContent %}

    <ul>
        <li><a href="all.php">form with all field types, nested fieldsets,and some validation</a></li>
        <li><a href="email.php">simple email sign up form with validation</a></li>
        <li><a href="emailWithoutFF.php">simple email sign up form with validation not using FF. is this easier or harder to code (see source)? is it worth using FF?</a></li>
    </ul>


{%  endblock %}