{% macro render(form) %}

    {% import 'htmlElementMacro.twig' as htmlElementMacro %}

    {{ htmlElementMacro.open('form', form.getAttributes) }}

        {% if form.getErrorMessage %}
            <div class="generalFormError">{{ form.getErrorMessage }}</div>
        {% endif %}

        {% import 'nodesMacro.twig' as nodesMacro %}

        {{ nodesMacro.renderRecursive(form.getNodes) }}

    {{ htmlElementMacro.close('form') }}

{% endmacro %}