body {
    background-color: #06141b;
    color: mintcream;
}
form {
    padding: 2em;
    border: .1em solid yellow;
}
.ffGroupWrapper {
    padding: .3em;
    border: .1em dashed green;
    border-spacing: .2em;
}
.ffFieldWrapper {
    padding: .3em;
}
.ffHtmlWrapper {
    margin-left: 1em;
}
.ffFieldLabelFine {
    padding-left: 1em;
    font-size: .8em;
}
#ffFormError {
    color: red;
}
.ffFieldError {
    border: .2em solid red;
}
.ffErrorMsg {
    color: red;
}
a {
    text-decoration: none;
    color: aqua;
}
input, select, textarea, button, meter, progress, output {
    display: block;
    background-color: #dcd4c2;
    border: .1em solid #000000;
    color: black;
    font-size: 1em;
    padding: .2em;
    margin: .1em .5em 1em .1em;
}
input[type="checkbox"] {
    /* Larger Checkboxes */
    -ms-transform: scale(1.8); /* IE */
    -moz-transform: scale(1.8); /* FF */
    -webkit-transform: scale(1.8); /* Safari and Chrome */
    -o-transform: scale(1.8); /* Opera */
    margin: .4em 0 1.1em .6em;
//padding: 10px;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: .3em;
    border: .2em solid #11213a;
    border-radius: .4em;
}

label {
    color: #A7D45B;
    font-size: 1em;
    margin: 0 .3em 0 .2em;
}

.fieldRequired {
    display: inline;
    font-size: .8em;
    color: #cccccc;
}

.generalFormError {
    color: red;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.formErrorMsg {
    display: inline;
    color: red;
}

.ffFieldError {
    border: .1em solid red;
}
