{% macro render(form) %}

    <form method="{{ form.getMethod }}"{% if form.getBrowserValidation == false %} novalidate="novalidate"{% endif %}>

        {% if form.getError %}
            <div class="generalFormError">{{ form.getErrorMessage }}</div>
        {% endif %}

        {% import 'macros/nodes.twig' as nodesMacro %}

        {{ nodesMacro.renderRecursive(form.getNodes) }}

    </form>

{% endmacro %}